.cent{
    text-align:center;
    background-color: url(https://i.pinimg.com/236x/d5/c8/7c/d5c87c9160550d386791069339bbd762.jpg);
}
.profile-pic {
  border-radius: 50%;
}
#about{
background-color: pink;
}
#skills{
  background-color: rgb(201, 236, 148)
}
.carousel-item {
 height: 500px;
    text-align: center;
}
#contact{
  background-color: rgb(158, 127, 127)
}



